*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

.ul_nav_bar {
    list-style-type: none;
    display: flex;
    height: 5rem;

}
.nav-links{
    display: flex;
    gap: 15px;
    align-items: flex-end;
    font-size: medium;
    text-decoration: none;
    
}
.links{
    text-decoration: none;
}
.nav_search{
    position: absolute;
    right: 20px;
    width: auto;
    display: inline-flex;
    margin-top: -40px;
    opacity: 50%;
    border-right: none;
}
.search-icon{
    height: auto;
    width: 15px;
}
.btn{
    position: relative;
    display: inline;
    border-left: none;
    float: left;

    
    
}


.vase{
    margin-top: 5px;
    height: auto;
    width: 100%;
    display: flex;
    background-color: black;
    padding-left: 100px;
    padding-right: 100px;
}
.top-left{
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 55px;
    font-size: medium;
    color: green;
    
}
.bottom-right{
    position: absolute;
    margin-top: -100px;
    right: 55px;
    font-size: medium;
    color: crimson;
}
.navbar{
    border-bottom: 1px solid;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}
.logo-pic{
    position: absolute;
    margin-left: 45%;
    margin-right: auto;
    display: inline-flex;
    align-items: center;
    font-size: large;
}
.logo-vase{
    height: 50px;
    /* background-color: red;
    filter: invert(100%);  */
    
 }
 .hr{
     border-top: 5px solid;
     margin-right: 380px;
 }
 .section{
     margin-left: 140px;
     margin-right: 140px;
 }
 .about-p1{
     width: 888px;
     height: 162px;
     font-size: 20px;
 }
 .div-flex{
     display: flex;
 }
 .about-img1{
     width: 200px;
     height: auto;
 }
 .about-img2{
     width: 200px;
     height: auto;
 }
 .product-card{    
    width: 399px;
    height: 692px;
    margin-top: 121px;
 }
 .product-card-img{
    width: 398px;
    height: 398px;
 }
 .product-card-price{
     margin-left: 84px;
 }
 .heading-2{
    display: flex;
    font-size: 30px;
 }
 .product-card-hr{
    border-top: 5px solid;
    width: 250px;
 }
 .product-card-desc{
     font-size: 20px;
 }
 .product-card-ft{
     display: flex;
     margin-top: 26px;
 }
 .product-card-learn{
    font-size: 20px;
    color: #c96f26;
 }
 .product-card-cart{
    margin-left: 138px;
    font-size: 20px;
    background-color: #bf7631;
    color: white;
 }
 .product-grid{
    display: grid;
    grid-template-areas: 
    "top top top"
    "mid mid mid"
    "bot bot bot";
 }