*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

.ul_nav_bar {
    list-style-type: none;
    display: flex;
    gap: 10px;
}