*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

.ul_nav_bar {
    list-style-type: none;
    display: flex;
    height: 5rem;

}
.nav-links{
    display: flex;
    gap: 15px;
    align-items: flex-end;
    font-size: medium;
    text-decoration: none;
    
}
.links{
    text-decoration: none;
}
.nav_search{
    position: absolute;
    right: 20px;
    width: auto;
    display: inline-flex;
    margin-top: -40px;
    border-right: none;
}
.search-icon{
    height: auto;
    width: 15px;
}
.btn-search{
    position: relative;
    display: inline;
    border-left: none;
    float: left;
}

.cart{
    color: black;
    padding-left: 10px;
    right: 20px;
    font-size: 20px;

}

.vase{
    margin-top: 5px;
    height: auto;
    width: 100%;
    display: flex;
    background-color: black;
    padding-left: 100px;
    padding-right: 100px;
}
.top-left{
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 55px;
    font-size: medium;
    color: green;
    
}
.bottom-right{
    position: absolute;
    margin-top: -100px;
    right: 55px;
    font-size: medium;
    color: crimson;
}
.navbar{
    border-bottom: 2px solid;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}
.logo-pic{
    position: absolute;
    margin-left: 45%;
    margin-right: auto;
    display: inline-flex;
    align-items: center;
    font-size: 20px
}
.logo-vase{
    height: 50px;
    /* background-color: red;
    filter: invert(100%);  */
    
 }
 .hr{
     border-top: 5px solid;
     margin-right: 380px;
 }
 .section{
     margin-left: 140px;
     margin-right: 140px;
 }
 .header{
    margin-top: 121px;
    font-size: 45px;

 }
 .about-p1{
     font-size: 20px;
     margin-top: 75px;
 }
 .div-flex{
     display: flex;

 }
 .about-img1{
    width: 397px;
    height: 534px;
    margin-top: 75px;
    margin-right: 10px;
 }
 .about-img2{
     margin-top: 10px;
     width: 450px;
    height: 800px;
    
 }
 .product-card{    
    width: 399px;
    height: 692px;
    margin-top: 121px;
    margin-right: 50px;
 }
 .product-card-img{
    width: 398px;
    height: 398px;
 }
 .product-card-price{
     margin-left: 76px;
 }
 .heading-2{
    display: flex;
    font-size: 30px;
 }
 .product-card-hr{
    border-top: 5px solid;
    width: 250px;
 }
 .product-card-desc{
     font-size: 20px;
 }
 .product-card-ft{
     display: flex;
     margin-top: 26px;
 }
 .product-card-learn{
    font-size: 20px;
    color: #c96f26;
 }
 .product-card-cart{
    margin-left: 138px;
    font-size: 20px;
    background-color: #bf7631;
    color: white;
 }
 .product-grid{
    display: grid;
    grid-template-areas: 
    "top top top"
    "mid mid mid"
    "bot bot bot";
 }

 .contact-us{

    border-top: 5px solid;
    margin-right: 380px;

 }
 .contact-text{
    font-size: medium;
    text-transform: uppercase;
    margin-top: 121px;
    font-size: 45px;

 }
 .form-control-contact{
     width: 250px;
     display: flex;
     margin-top: 20px;
     margin-bottom: 20px;
 }
 /* .contact-info{
     width: 200px;
     margin-top: 20px;
     padding-bottom: 20px; } */

.footer{
    margin-top: 30px;
    width: 100%;
    border-top: 100px solid #bf7631;


}
.thumb{
    /* filter: invert(100%); */
    background-color: #bf7631;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;    
}

.foot-logo{
    position: absolute;
    margin-left: 45%;
    margin-right: auto;
    align-items: center;
    font-size: x-large;
    display: inline-flex;
    margin-top: -80px;



}
.footer-bottom-left{
    position: absolute;
    left: 15%;
    margin-top: -80px;
    width: auto;

}
.footer-bottom-right{
    position: absolute;
    right: 15%;
    margin-top: -80px;

}


