*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

.ul_nav_bar {
    list-style-type: none;
    display: flex;
    gap: 10px;
    height: 5rem;

}
.nav_search{
    position: absolute;
    right: 30px;
    width: auto;
    display: inline-block;
    margin-top: -40px;
}

.vase{
    margin-top: 50px;
    height: auto;
    width: 100%;
    display: flex;
    background-color: black;
    padding-left: 100px;
    padding-right: 100px;
}
.top-left{
    text-transform: uppercase;
    position: absolute;
    top: 150px;
    left: 55px;
    font-size: medium;
    color: green;
    
}
.bottom-right{
    position: absolute;
    margin-top: -100px;
    right: 55px;
    font-size: medium;
    color: crimson;
}
.navbar{
    display: flex;
}
.logo-pic{
    position: absolute;
    margin-left: 45%; 
    margin-right: auto;
    display: inline-flex;
    align-items: center;
}
 .logo-vase{
     height: 50px;
    /* background-color: red; */
    /* filter: invert(100%); */
    
 }